.git
.gitignore
.dockerignore
Dockerfile
docker-compose.yml
docker-compose.override.yml
.env
.env.example
.env.backup
node_modules
npm-debug.log
README.md
.phpunit.result.cache
.phpunit.cache
.php_cs.cache
.php_cs
.php-cs-fixer.php
.idea
.vscode
*.log
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/testing/*
bootstrap/cache/*
vendor
.phpunit
.phpunit.result.cache
.phpunit.cache
tests
coverage
.nyc_output
.cache
.parcel-cache
dist
build
public/hot
public/storage
